<form action="/" method="get">
    <button type="submit">Home</button>
</form>
<form action="/form" method="get">
    <button type="submit">Nova musica</button>
</form>
<form action="/lista" method="get">
  <button type="submit">Lista</button>
</form>
<form action="/preço" method="get">
    <button type="submit">Alterar preço </button>
  </form>